/* Main title */
.App {
  text-align: center;
  font-size: 45px;
  color: #c0c0c0;
}


/* Wrapped background adjustments */
.background-split {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: linear-gradient(to bottom, #313030 45%, #c0c0c0 48%);
  background-size: 100% 150vh;
  text-align: center;
  align-items: center;
}

/* Fomarts everyting in subscribe to the center */
.subscribe-form { 
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  margin-top: none;
  margin-bottom: 450px;
}

/* Adjusts font size and adds space to the bottom of "Enter your..." */
.subscribe-form label {
  font-size: 18px;
  margin-bottom: 6px;
}

/* Adjusts email box/email font */
 .subscribe-form input {
  width: 300px;                   /* Adjusts input box width */
  padding: 12px 16px;             /* Adjusts corners size of input box */
  border: 1px solid #ccc;       /* Adjusts color of box border */
  border-radius: 25px;            /* Adds rounded edges */
  font-size: 14px;
  outline: none;
 }


/* Changes border color once cliked on */
 .subscribe-form input:focus {
  border-color: #020303;
 }


/* Adjusts button */
 .subscribe-form button {
  padding: 10px 20px;
  border: none;
  border-radius: 25px;            /* Round corners */
  background: #4b637c;
  color: white;
  font-size: 14px;
  cursor: pointer;                /* Changes cursor to point */
 }


 /* Darkens button when hovered over */
.subscribe-form button:hover {
  background: #3c4c5d;
} 



